/** 
 This styling is responsive, mobile-friendly awesomeness  
 ; custom code created by s/css superstar lsc@hackeress.com 
 renders lovely on your tablets, iPhone, Android, etc.
**/

body {
  font-family: 'Open Sans', sans;
  background-color: #76B228;
  height: 100%;
  padding-top: 55px;

}

#storylinks-container {
   opacity: 0.97337;
   width: auto;
   height: auto;
   min-height: 81%;
   margin-left: 2%;
   margin-right: 2%;
   padding: 5px;
   background: #fff;
   -webkit-border-radius: .2em;
   -moz-border-radius: .2em;
   border-radius: .2em;
   -webkit-box-shadow: 0px 7px 13px rgba(50, 50, 50, 0.71);
   -moz-box-shadow: 0px 7px 13px rgba(50, 50, 50, 0.71);
   box-shadow: 0px 7px 13px rgba(50, 50, 50, 0.71);

h4 {
  color: #353535;
  text-shadow: 1px 1px 1px #e0e0e0;
  margin-top: -10px;

}


}

#storylinks {
  opacity: 0.9723;
  width: auto;
  margin-right: 2%;
  height: auto;
  padding-top: 57px;
  min-height: 75%;
  padding: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

}

.outer {
	width: auto;
  height: auto;
	font-size:117%;
	font-weight: 400;
	text-align: left;
  margin-left: 1%;
  min-width: 10%;
  max-width: 98%;
  .inst {
  font-family: monospace;
  font-size: 13px;
  color: #959595;
  padding: 3px;
  margin-left: 2px;
  }
  p {
        color: #2e1813;
        padding: 3px;
        margin-left: 7px;
        margin: 5px;
        font-size: 117%;
        text-wrap: wrap;}
        a:link, a:active, a:visited {
        color: #C97026;
        }
        a:hover {
        color: #C77287;
        }
        p img_right {
        float: right;
        margin-right: 20px;
           }
        p img_left {
        float: left;
        margin-left: 20px;
          }
  .numeric {
  padding: 3px;
  }
}

/* h-styling */

h1 {
  font-size: 133%;
  padding: 7px;
  letter-spacing: -2px;
  text-align: left;
  color: #73b125;
}

h2 { 
  font-size: 1.33em;
  padding: 3px;
  margin-top: 10px;
  text-align: left;
  font-weight: normal;
  color: #16497A;
}

h3 {
  font-size: 1.23em;
  letter-spacing: -1px;
  padding: 2px;
  margin: 2px;
  margin-bottom: 5px;
  color: #2c2c2c;
}

.row {
  width: auto;
  margin-left: 2%;
  margin-right: 1%;
  min-width: 10%;
  max-width: 93%;
}

.navbar {
  border: none;
  text-transform: uppercase;
}


/* users */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid #888;
    &:last-child {
      border-bottom: 1px solid #888;
    }
  }
}


form {
  margin-left: 2%;
}

 /* search-friendly */

.search-instructions {
  font-family: Droid Sans, sans-serif;
  font-size: 1.02em;
  padding: 3px;
}

.searchbox {
  align: left;
  justify: left;
  margin-bottom: -7px;
}

.search-options {
  margin-left: 2%;
  margin-top: -4px;
}


/* some people just need a phone number */

.hotline {
  padding-top: 3px;
  margin-right: 0.13em;
  float: right;
  color: #414141;
  text-align: right;
  font-family: 'Source Sans Pro', 'Lucida Grande', sans, monospace;  
  text-transform: small-caps;
  font-size: 137%;
  .helpline {
  font-size: 88%;
  padding-top: 2px;
  }
}


/* tiny mobile device friendly  */

@media handheld {
  #content {
    images: none;
    width:auto;
    margin: 1%;
    padding: 2px;
    }
  #storylinks {
    width:100%;
    margin: 1%;
    padding: 2px;
    float:center;
    .navbar {
    padding: 1px;
    }
    }
  #landpage-container{
  width: 100%;
  margin: 1px;
  float: center;
  background-color: #e0e0e0;
  }
  #footer {
    width:100%;
    float:none;
    }
  }

/* credits */

.copyright {
    font-family: monospace;
    font-size: 91%;
    color: #000;
    margin-right: 5%;
    float: right;
}

#colophon {
    font-family: monospace;
    font-size: 73%;
    color: #ebedeb;
    margin-right: 1%;
    float: right; 
      a:link {
        color: #ebedeb;
      a:active {
        color: #ebedeb;
      a:hover {
        color: #ebedeb;
      a:visited {
        color: #ebedeb;
          }
        }
      }
   }
}

.meeting-count {
  font-family: monospace;
  font-size: 91%;
  color: #444340;
  background-color: #D7F1B4;
  padding: 3px;
  float: right;
}