#landpage-container {
  	background-image: url(sunrise.png);
    background-size: 100%;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    height: auto;
   .span4 {
    width: 30%;
    margin-left: 2px;

  }
}

.landpage-content {
  padding: 10px;
  height: auto;
  min-height: 90%;
  float: right;
  margin-right: 10px;
  text-align: right;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  line-height: 1;
/* 24 Hour Help Line Available */
  h2 {
  font-family: 'PT Sans', 'Lucida Grande', 'Open Sans', sans, sans-serif;
  color: #81475B;
  font-weight: bold;
  letter-spacing: -1px;
  margin-top: 25px;
  margin-right: 25px;
  }

/* Phone Number Styling */ 

  h3 {
  font-family: 'PT Sans', 'Lucida Grande', 'Open Sans', sans, sans-serif;
  color: #515151;
  font-size: 115%;
  font-weight: bold;
  letter-spacing: -1px;
  margin-top: -13px;
  margin-right: 25px;
  }

}

#twocols {
background: #fff; 
width: auto;
height: auto;
min-height: 400px;
h3 {
  font-family: 'PT Sans', 'Lucida Grande', sans, sans-serif;
  color: #050301;
  font-size: 137%;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  }
  .welcome {
    color: #323C07;
    font-size: 85%;
    padding:  3px;
  }
  .meetings {
    color: #323C07;
    padding:  3px;
    font-size: 85%;
      .button {
        font-family: 'Open Sans', sans;
        color: #fff;
        width: 133px;
        text-align: center;
        font-size: 113%;
        padding: 11px;
        text-decoration: none;
        -webkit-border-radius: 0.53em;
        -moz-border-radius: 0.53em;
        border-radius: 0.53em;
        -webkit-box-shadow: 0px 1px 3px #666666;
        -moz-box-shadow: 0px 1px 3px #666666;
        box-shadow: 0px 1px 3px #666666;
        text-shadow: 1px 1px 1px #102915;
        border: solid #e0e0e0 0px;
        background: -webkit-gradient(linear, 0 0, 0 100%, from(#aecf83), to(#73b125));
        background: -moz-linear-gradient(top, #aecf83, #73b125);
        -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#aecf83, endColorStr=#73b125);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#aecf83, endColorStr=#73b125);
        display:inline-block; /* IE is so silly */
        }
        .button:hover {
        background: #73b125;
    }
  }
  
  .centraloffice {
    color: #323C07;
    padding:  3px;
    font-size: 85%;
    margin-left: -3px;
    margin-top: -2px;
  }  
  .img-left {
    padding: 3px;
    float: left;
    margin-right: 7px;
  }
  .latest {
    font-size: 80%;
    font-family: 'Open Sans', sans-serif;
    }
 } 



